<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/jquery-ui.js"></script>
<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="/css/common.css" rel="stylesheet" />
<link href="/css/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript">
//CSRF Token
//<![CDATA[
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");
$(document).ajaxSend(function(e, xhr, options){ xhr.setRequestHeader(header, token); });

$(document).ready(function(){
	$("#orderDetail").click(function() {
		window.location="/g/mfih005/index";
	});
	$("#goToPay").click(function() {
		window.location="/g/mfih007/index";
	});
}); 
//]]>
</script>


<title>住院详细</title>
</head>
<body data-spy="scroll" data-target="#myScrollspy">
<form id="mfih003Form" name="mfih003Form" action="index" method="post">

<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:#f4f4f4">
    <div class="open-hover ldui-topnavbar">
    	<div class="row">
        	<div class="col-xs-3">
      			<span class="glyphicon glyphicon-chevron-left ldui-btn-icon-left" onclick="pageNavById('hphp001');"></span>
      		</div>
      		<div class="col-xs-6">
      			<div class="navbar-header">
      		          <a class="navbar-brand" href="#">住院详细</a>
      		          <span class="glyphicon glyphicon-list-alt" onclick="pageNavOnLogin('mfih004');"></span>
      		    </div>
      		</div>
        </div>
    </div>
</div>

<div class="" id="containerDiv" style="margin-top:50px;">
	
	<!-- 住院人 -->
	<div class="row text-left" style="background-color: white; vertical-align: middle; margin-left: 0px; margin-right: 0px; margin-bottom: 1px">
		<!-- <div class="col-xs-12" style="height: 45px; padding-top: 12px; padding-left: 0px;">
			<div class="col-xs-5"><span style="padding-left: 5px; color: #22a7f0; font-weight: bold;">|</span>
				<span class="glyphicon glyphicon-user"></span> <span>住院人</span></div>
			<div class="col-xs-7">常升柄</div>
		</div> -->
		<div class="col-xs-12" style="height: 45px; padding-top: 12px; padding-left: 0px;">
			<span style="padding-left: 20px; color: #22a7f0; font-weight: bold;">|</span>
			<span class="glyphicon glyphicon-user"></span> <span>入院人</span><span style="float:right;" th:text="${mfih003Form.userName}"></span>
		</div>
	</div>
	
	<!-- 住院信息 -->
	<div class="row text-left" style="background-color: white; vertical-align: middle; margin-left: 0px; margin-right: 0px; margin-bottom: 0px">
		<div class="col-xs-9" style="height: 45px; padding-top: 12px; padding-left: 0px;">
			<span style="padding-left: 20px; color: #22a7f0; font-weight: bold;">|</span>
			<span>住院信息</span>
		</div>
		<div class="col-xs-3">
			<button type="button" class="btn btn-primary" style="padding: 0px 2px;;margin:11px 0px;border-radius:0px;float:right;" th:if="${mfih003Form.statusFlg} == '1'">住院中</button>
			<button type="button" class="btn" style="padding: 0px 2px;margin:11px 0px;border-radius:0px;float:right;" th:if="${mfih003Form.statusFlg} == '2'">已出院</button>
		</div>
	</div>
	<div class="row" style="background-color: white; padding-left: 10px; margin-left: 0px; margin-right: 0px; margin-bottom: 1px">
		<div class="col-xs-12 col-sm-12" >
			<div class="col-xs-4">医院</div>
			<div class="col-xs-8"><span th:text="${mfih003Form.hospitalName}"></span></div>
		</div>
		<div class="col-xs-12 col-sm-12" >
			<div class="col-xs-4">医生</div>
			<div class="col-xs-8"><span th:text="${mfih003Form.doctorName}"></span></div>
		</div>
		<div class="col-xs-12 col-sm-12" >
			<div class="col-xs-4">责任护士</div>
			<div class="col-xs-8">郝安心</div>
		</div>
		<div class="col-xs-12 col-sm-12" >
			<div class="col-xs-4">科室</div>
			<div class="col-xs-8"><span th:text="${mfih003Form.deptName}"></span></div>
		</div>
		<div class="col-xs-12 col-sm-12" >
			<div class="col-xs-4">诊断</div>
			<div class="col-xs-8"><span th:text="${mfih003Form.diagnoseInfo}"></span></div>
		</div>
		<div class="col-xs-12 col-sm-12" >
			<div class="col-xs-4">病区</div>
			<div class="col-xs-8"><span th:text="${mfih003Form.area}"></span></div>
		</div>
		<div class="col-xs-12 col-sm-12" >
			<div class="col-xs-4">病床</div>
			<div class="col-xs-8">5号床</div>
		</div>
		<div class="col-xs-12 col-sm-12" >
			<div class="col-xs-4">入院时间</div>
			<div class="col-xs-8"><span th:text="${mfih003Form.inDate}"></span></div>
		</div>
		<div class="col-xs-12 col-sm-12" >
			<div class="col-xs-4">出院时间</div>
			<div class="col-xs-8"><span th:text="${mfih003Form.outDate}"></span>（共30天）</div>
		</div>
		<div class="col-xs-12 col-sm-12" style="color:red">
			<div class="col-xs-4">预缴费</div>
			<div class="col-xs-8"><span th:text="${mfih003Form.advancedPay}"></span>元</div>
		</div>
	</div>
	
	<!-- 其他信息 -->
	<div class="row text-left" style="background-color: white; vertical-align: middle; margin-left: 0px; margin-right: 0px; margin-bottom: 1px;">
		<div class="col-xs-12" style="padding-top: 6px; padding-left: 0px;">
			<span style="padding-left: 20px; color: #22a7f0; font-weight: bold;">❀</span>
			<span>其他信息</span>
		</div>
		<div class="col-xs-12" style="padding-top: 6px; padding-left: 35px;">
			<span>1.点击查看账单查看详细收费项。</span>
		</div>
		<div class="col-xs-12" style="padding-top: 6px; padding-left: 35px;">
			<span>2.点击出院结算进行网上缴费。</span><br /><br />
		</div>
		
	</div>
	
	
	<footer class="container" style="text-align:center">
    <ul class="nav navbar-fixed-bottom">
        	<li>
       			<button type="button" id="orderDetail" class="btn btn-primary btn-block" style="width:100%;">查看账单</button> 
        	</li>
        	<li>
            	<button type="button" id="goToPay" class="btn btn-primary btn-block" style="width:100%;" th:if="${mfih003Form.statusFlg} == '1'">出院结算</button> 
        	</li>
    	</ul>
    </footer>
	
</div>
</form>
</body>
</html>