<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/jquery-ui.js"></script>
<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="/css/common.css" rel="stylesheet" />
<link href="/css/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript">
//CSRF Token
//<![CDATA[
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");
$(document).ajaxSend(function(e, xhr, options){ xhr.setRequestHeader(header, token); });

//]]>
</script>


<title>账单详细</title>
</head>
<body data-spy="scroll" data-target="#myScrollspy">
<form id="mfrg001Form" name="mfrg001Form" action="deptSearch" method="post">

<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:#f4f4f4">
    <div class="open-hover ldui-topnavbar">
    	<div class="row">
        	<div class="col-xs-3">
      			<span class="glyphicon glyphicon-chevron-left ldui-btn-icon-left" onclick="pageNavById('mfih005');"></span>
      		</div>
      		<div class="col-xs-6">
      			<div class="navbar-header">
      		          <a class="navbar-brand" href="#">账单详细</a>
      		    </div>
      		</div>
        </div>
    </div>
</div>

<div class="" id="containerDiv" style="margin-top:50px;">
	<div style="width:100%; background-color: white; position: fixed;">
		<h3 style="margin-top:5px;text-align:center"><span class="label label-primary" style="border-radius:0px">2016年4月10日 星期五</span></h3>
	</div>
	
	
	<!--  药费 -->
	<div class="row text-left" style="padding-top:40px;background-color: white; vertical-align: middle; margin-left: 0px; margin-right: 0px; margin-bottom: 0px">
		<div class="col-xs-12" style="height: 33px; padding-top: 6px; padding-left: 0px;">
			<span style="padding-left: 20px; color: #22a7f0; font-weight: bold;">|</span>
			<span>药费</span>
		</div>
	</div>
	<div class="row" style="background-color: white; padding-left: 10px; margin-left: 0px; margin-right: 0px;margin-bottom: 1px">
		<div class="col-xs-12">
			<div class="col-xs-6" style="padding-right:0px;padding-left:5px">0.9%氯化钠注射液</div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>35元</span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>2</span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>70元</span></div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-6" style="padding-right:0px;padding-left:5px">/pp*100ml</div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span></span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span></span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>公费</span></div>
		</div>
	</div>
	<div class="row" style="background-color: white; padding-left: 10px; margin-left: 0px; margin-right: 0px;margin-bottom: 1px">
		<div class="col-xs-12">
			<div class="col-xs-6" style="padding-right:0px;padding-left:5px">盐酸氨溴索葡萄糖</div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>10元</span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>2</span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>20元</span></div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-6" style="padding-right:0px;padding-left:5px">注射液/30ml*100ml</div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span></span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span></span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>公费</span></div>
		</div>
	</div>
	<div class="row" style="background-color: white; padding-left: 10px; margin-left: 0px; margin-right: 0px;margin-bottom: 1px">
		<div class="col-xs-12">
			<div class="col-xs-6" style="padding-right:0px;padding-left:5px">氨茶碱注射液/0.25g</div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>10元</span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>1</span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>10元</span></div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-6" style="padding-right:0px;padding-left:5px"></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span></span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span></span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>公费</span></div>
		</div>
	</div>
	
	
	<!-- 护理费 -->
	<div class="row text-left" style="padding-top:0px;background-color: white; vertical-align: middle; margin-left: 0px; margin-right: 0px; margin-bottom: 0px">
		<div class="col-xs-12" style="height: 30px; padding-top: 6px; padding-left: 0px;">
			<span style="padding-left: 20px; color: #22a7f0; font-weight: bold;">|</span>
			<span>护理费</span>
		</div>
	</div>
	<div class="row" style="background-color: white; padding-left: 10px; margin-left: 0px; margin-right: 0px;margin-bottom: 1px">
		<div class="col-xs-12">
			<div class="col-xs-6" style="padding-right:0px;padding-left:5px">1级护理</div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>80元</span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>1</span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>80元</span></div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-6" style="padding-right:0px;padding-left:5px"></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span></span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span></span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>自费</span></div>
		</div>
	</div>
	
	
	<!-- 床位费 -->
	<div class="row text-left" style="padding-top:0px;background-color: white; vertical-align: middle; margin-left: 0px; margin-right: 0px; margin-bottom: 0px">
		<div class="col-xs-12" style="height: 30px; padding-top: 6px; padding-left: 0px;">
			<span style="padding-left: 20px; color: #22a7f0; font-weight: bold;">|</span>
			<span>床位费</span>
		</div>
	</div>
	<div class="row" style="background-color: white; padding-left: 10px; margin-left: 0px; margin-right: 0px;margin-bottom: 1px">
		<div class="col-xs-12">
			<div class="col-xs-6" style="padding-right:0px;padding-left:5px">505号病床</div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>100元</span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>1</span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>100元</span></div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-6" style="padding-right:0px;padding-left:5px"></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span></span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span></span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>自费</span></div>
		</div>
	</div>
	
	<!-- 氧气费 -->
	<div class="row text-left" style="padding-top:0px;background-color: white; vertical-align: middle; margin-left: 0px; margin-right: 0px; margin-bottom: 0px">
		<div class="col-xs-12" style="height: 30px; padding-top: 6px; padding-left: 0px;">
			<span style="padding-left: 20px; color: #22a7f0; font-weight: bold;">|</span>
			<span>氧气费</span>
		</div>
	</div>
	<div class="row" style="background-color: white; padding-left: 10px; margin-left: 0px; margin-right: 0px;margin-bottom: 1px">
		<div class="col-xs-12">
			<div class="col-xs-6" style="padding-right:0px;padding-left:5px">心吸氧（输氧管除外）</div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>320元</span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>1</span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>100元</span></div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-6" style="padding-right:0px;padding-left:5px"></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span></span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span></span></div>
			<div class="col-xs-2" style="padding-right:0px;padding-left:5px"><span>自费</span></div>
		</div>
	</div>
	
	<!-- 合计 -->
	<div class="row text-left" style="padding-top:0px;background-color: white; vertical-align: middle; margin-left: 0px; margin-right: 0px; margin-bottom: 0px">
		<div class="col-xs-12" style="height: 30px; padding-top: 6px; padding-left: 0px;">
			<span style="padding-left: 20px; color: #22a7f0; font-weight: bold;">|</span>
			<span>合计</span>
		</div>
	</div>
	<div class="row" style="background-color: white; padding-left: 10px; margin-left: 0px; margin-right: 0px;margin-bottom: 1px">
		<div class="col-xs-12">
			<div class="col-xs-5" style="padding-right:0px;padding-left:5px"></div>
			<div class="col-xs-3" style="padding-right:0px;padding-left:5px"><span>公费100元</span></div>
			<div class="col-xs-1" style="padding-right:0px;padding-left:5px"><span></span></div>
			<div class="col-xs-3" style="padding-right:0px;padding-left:5px"><span>自费600元</span></div>
		</div>
	</div>
	
</div>
</form>
</body>
</html>