<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>预约挂号</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" />
<link href="/css/common.css" rel="stylesheet" />

<style>
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
}
a:link{
  text-decoration:none;
}
a:hover  {
  color: #fff;
  text-decoration:none;
}
.button-tiny {
  background-color: #ff7680;
  font-size: 8px;
  height: 18px;
  line-height: 18px;
  padding: 0px 7px;
  margin-left:10px;
  color: #fff;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
/* .datetimepicker-days table {
   color: #22a7f0;
} */
.datetimepicker table tr td.disabled {
   color: #e2dddd;
}
</style>

</head>
<body>
<form id="mfrg002Form" name="mfrg002Form" action="index">
<input type="hidden" id="maxReserveDate" th:field="${mfrg002Form.maxReserveDate}"/>
<input type="hidden" id="deptCode" th:field="${mfrg002Form.deptCode}" />
<input type="hidden" id="deptName" th:field="${mfrg002Form.deptName}" />
<input type="hidden" th:field="${mfrg002Form.todayDate}" />
<input type="hidden" id="oldReserveDate" th:value="${mfrg002Form.reserveDate}" />

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
       <div class="open-hover ldui-topnavbar">
            <div class="row">
                 <div class="col-xs-3">
      		        <span class="glyphicon glyphicon-chevron-left ldui-btn-icon-left" onclick="pageNavById('mfrg001')"></span>
      		    </div>
      		    <div class="col-xs-6">
      		        <div class="navbar-header">
      		          <a class="navbar-brand" href="#">预约挂号</a>
      		        </div>
      		    </div>
            </div>
      </div>
</div>
    
<div>
	<div style="background-color: white; padding-top: 10px; padding-bottom: 10px;">
		<!-- 选择日期 -->
    	<div class="col-xs-4" style="margin-top: 59px;">
        	<span style="padding-left:5px;color:#22a7f0;font-weight:bold;">|</span>
        	<span th:text="${mfrg002Form.deptName}"></span>
    	</div>
		<div class='col-xs-7 container input-group date' id='datetimepicker' style="margin-top: 51px;">  
        	<input type='text' class="form-control" id="reserveDate" th:value="${mfrg002Form.reserveDate}" th:field="${mfrg002Form.reserveDate}" readonly="readonly" />  
        	<span class="input-group-addon">  
            	<span class="glyphicon glyphicon-calendar"></span>  
        	</span>  
    	</div> 
	</div>    
    
    <div class="ldui-list-group">
        <div style="background-color: white;padding-top: 10px;padding-bottom: 10px;margin-top: 10px;margin-bottom: 10px;">
            <span style="padding-left:20px;color:#22a7f0;font-weight:bold;">|</span><span>  普通门诊</span>
            <button type="button" onclick="registerCommon()" class="btn btn-info btn-sm" style="float:right;margin-top:-5px;margin-right:15px;background-color:#22a7f0">预约</button>
        </div>
        
        <div style="background-color: white;padding-top: 10px;padding-bottom: 10px;margin-top: 10px;">
            <span style="padding-left:20px;color:#22a7f0;font-weight:bold;">|</span><span>  专家门诊</span>
        </div>
        <div class="ldui-content-row" style="color:black;">
            <div th:id="${info.doctorCode}" style="overflow:auto;padding:5px 2px 0px 5px;border-bottom:1px solid #f5f5f5;" th:each="info:${mfrg002Form.regDocList}">
                <img th:src="${info.doctorPic}"  height="100px" width="100px" style="padding:5px 5px 1px 5px;border-radius:10px" class="pull-left" />
                <div style="padding:10px 6px 3px 5px">
        			姓名 <span th:text="${info.doctorName}"></span>
        		    <span style="float:right;color:red;padding-right:7px">元</span><span style="color:red;float:right;" th:text="${info.regFee}"></span>
        		    <br />
        		         职位    <span th:text="${info.doctorTitle}"></span><br />
        		         擅长项目  <span th:text="${info.doctorSkill}"></span><br />
                    <a id="a" class="button button-caution button-tiny" onclick="favoriteDoctors(this)" th:if="${info.isCurUserFav} == '0'">☆未收藏</a>
        		    <a id="a" class="button button-caution button-tiny" onclick="deletefavDoctor(this)" th:if="${info.isCurUserFav} == '1'">★已收藏</a>
                    <span class="pull-right" style="margin-bottom:5px;padding-right:7px">
                    	<button type="button" onclick="register(this, 'am')" class="btn btn-info btn-sm" th:if="${info.amCanReg == '1'}" style="background-color:#22a7f0">预约<br />上午</button>   
                    	<button type="button" class="btn btn-default btn-sm" disabled="disabled" th:if="${info.amCanReg == '0'}" >上午<br />无号</button>   
                    	<button type="button" onclick="register(this, 'pm')" class="btn btn-info btn-sm" th:if="${info.pmCanReg == '1'}" style="background-color:#22a7f0">预约<br />下午</button>
                    	<button type="button" class="btn btn-default btn-sm" disabled="disabled" th:if="${info.pmCanReg == '0'}" >下午<br />无号</button>
                    </span>
                </div>
            </div>
        </div>
     </div>
 </div>
            
<script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.zh-CN.js" ></script>
<script type="text/javascript">
//CSRF Token
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");
$(document).ajaxSend(function(e, xhr, options){ xhr.setRequestHeader(header, token); });

function UTCDate() {
    return new Date(Date.UTC.apply(Date, arguments));
}
  
$('#datetimepicker').datetimepicker({  
    format: 'yyyy年m月d日 DD',  
    startDate: new Date(),
    endDate: $('#maxReserveDate').val(),
    language:'zh-CN',  
    weekStart: 1,
    todayBtn:  1,
	autoclose: 1,
	todayHighlight: 1,
	startView: 2,
	minView: 2,
	forceParse: 0
	// daysOfWeekDisabled: [0] // 周日不可选择挂号
	
}).on('show', function(ev){
	var inputYear = $('#reserveDate').val().substring(0, $('#reserveDate').val().indexOf('年'));
    var inputMonth = $('#reserveDate').val().substring($('#reserveDate').val().indexOf('年') + 1, $('#reserveDate').val().indexOf('月'));
    var inputDay = $('#reserveDate').val().substring($('#reserveDate').val().indexOf('月') + 1, $('#reserveDate').val().indexOf('日'));
    // 按输入框中的值进行日期控件面板初始化
    $('#datetimepicker').datetimepicker('_setDate', UTCDate(inputYear, inputMonth - 1 , inputDay));
    
}).on('changeDate', function(ev){
	if ($('#reserveDate').val() != $('#oldReserveDate').val()) 
      document.getElementById('mfrg002Form').submit();
});

//<![CDATA[
// 医生收藏
function favoriteDoctors(obj) {
	// 登录验证
	$.ajax({
		url: "/g/mfrg002/loginCheck",
		type: "POST",
		async: false,
		data: {
		},
		success: function(result){
			if (result == '0') {
				// 收藏前需登录
				window.location = '/m/mfrg002/index?deptCode='+ $('#deptCode').val() + "&deptName=" + $('#deptName').val() + "&reserveDate=" + $('#reserveDate').val() ;
			}
		}
	});
	// 收藏
	$.ajax({
		url: "/m/mfrg002/favDoctors",
		type: "POST",
		async: false,
		data: {
			deptCode: $('#deptCode').val(), 
			deptName: $('#deptName').val(),
			doctorCode: $(obj).parent().parent().attr('id'),
			doctorName: $(obj).parent().find('span').html()
		},
		success: function(result){
			if (result == '0') {
				showNoticeToast("不可重复收藏");
			} else if (result == '1'){
				showErrorToast("收藏失败");
			} else if (result == '2'){
				showSuccessToast("成功加入收藏夹");
				$(obj).html('★已收藏');
				$(obj).attr("onclick", "deletefavDoctor(this)");
			}
		}
	});
}

// 删除医生收藏
function deletefavDoctor(obj) {
	// 登录验证
	$.ajax({
		url: "/g/mfrg002/loginCheck",
		type: "POST",
		async: false,
		data: {
		},
		success: function(result){
			if (result == '0') {
				// 收藏前需登录
				window.location = '/m/mfrg002/index?deptCode='+ $('#deptCode').val() + "&deptName=" + $('#deptName').val() + "&reserveDate=" + $('#reserveDate').val() ;
			}
		}
	});
	// 取消收藏
	$.ajax({
		url: "/m/mfrg002/delfavDoctors",
		type: "POST",
		async: false,
		data: {
			deptCode: $('#deptCode').val(), 
			deptName: $('#deptName').val(),
			doctorCode: $(obj).parent().parent().attr('id'),
			doctorName: $(obj).parent().find('span').html()
		},
		success: function(result){
			if (result == '0') {
				showNoticeToast("未收藏！取消操作无效！");
			} else if (result == '1'){
				showErrorToast("取消收藏失败");
			} else if (result == '2') {
				showSuccessToast("已取消收藏");
				$(obj).html('☆未收藏');
				$(obj).attr("onclick", "favoriteDoctors(this)");
			} 
		}
	});
}

// 专家门诊 跳转确认预约画面
function register(obj, timeFlag) {
	window.location ="/m/mfrg004/index?deptCode=" + $('#deptCode').val() 
			+ "&deptName=" + $('#deptName').val()
			+ "&doctorCode=" + $(obj).parent().parent().parent().attr('id') 
			+ "&doctorName=" + $(obj).parent().parent().find('span').html()
			+ "&reserveDate=" + $('#reserveDate').val() 
			+ "&regFee=" + $(obj).parent().parent().find('span').eq(2).html() 
			+ "&timeFlag=" + timeFlag;
}

// 普通门诊 跳转确认预约画面
function registerCommon() {
	window.location ="/m/mfrg004/index?deptCode=" + $('#deptCode').val() 
			+ "&deptName=" + $('#deptName').val()
			+ "&reserveDate=" + $('#reserveDate').val();
}
//]]>

</script>
</form>
</body>
</html>
