<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>我的</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <script src="/js/jquery-3.1.1.min.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/bootstrap-theme.css" rel="stylesheet" />
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/sha1.js"></script>
    <link href="/css/common.css" rel="stylesheet" />
    <script src="/js/common.js"></script>
    <style>
    .header-back {
       display: block;
       position: relative;
       top:14px;
       padding: 0 0 0 10px;
     }
     .label-row-left {
        line-height:32px;
     }
     #login_logoimg {
        width:80px;
        height:75px;
        margin:10px auto;
        display:block;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius:15px;
     }
     #login_logotle {
        text-align:center;
        color:#888;
     }
     .ldui-form-control-feedback{
         left:0;
         height:40px;
         line-height: 40px;
     }
     .ldui-control-feedback-vilid {
         right: 5px;
         margin-top:5px;
         height: 30px;
         line-height: 25px;
         width: 100px;
         border: 1px solid transparent;
         border-radius: 4px;
         color:#fff;
         pointer-events:auto;
     }
     .ldui-control-feedback-vilid-color {
         background-color: #888;
         border-color: #999;
     }
     .ldui-control-feedback-vilid-color.active {
         background-color: #3bafda;
         border-color: #3bafda;
     }

     .ldui-form-control {
         padding: 6px 10px 6px 30px;
         border:none;
         height:40px;
     }
     .has-feedback .form-control.ldui-form-control-vilid {
         padding-right:100px;
     }
    </style>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container  ldui-topnavbar">
            <!--向左对齐-->
            <div class="row">
                 <div class="col-xs-3">
                      <span class="glyphicon glyphicon-chevron-left ldui-btn-icon-left" onclick="goBack();"></span>
                  </div>
                  <div class="col-xs-6">
                     <div class="navbar-header">
                        <a class="navbar-brand" href="#">注册账号</a>
                     </div>
                  </div>
                  <div class="col-xs-3">
                  </div>
            </div>
        </div>
    </div>
    <div class="" id="containerDiv">
       <form id="signupForm" th:action="@{save}" method="post">
       <div class="form-group" style="margin-top:63px;">
          <div class="has-feedback">
               <span class="glyphicon glyphicon-user form-control-feedback ldui-form-control-feedback"></span>
               <input type="number" class="form-control ldui-form-control" id="telno" name="telno" placeholder="请输入手机号" autofocus="autofocus" value="" />
          </div>
          <div class="has-feedback">
               <input type="button" id="btnGetYzm" class="form-control-feedback ldui-control-feedback-vilid ldui-control-feedback-vilid-color active" onclick="getYzm(this);" value="获取验证码" />
               <input type="text" class="form-control ldui-form-control ldui-form-control-vilid" id="yzm" name="yzm" placeholder="请输入验证码" />
          </div>
          <div class="has-feedback">
               <span class="glyphicon glyphicon-pencil form-control-feedback ldui-form-control-feedback"></span>
               <input type="text" class="form-control ldui-form-control" id="username" name="username" placeholder="请输入姓名" />
          </div>
          <div class="has-feedback">
               <span class="glyphicon glyphicon-credit-card form-control-feedback ldui-form-control-feedback"></span>
               <input type="number" class="form-control ldui-form-control" id="sfzhaoma" name="sfzhaoma" placeholder="请输入身份证号" />
          </div>
          <div class="has-feedback">
               <span class="glyphicon glyphicon-lock form-control-feedback ldui-form-control-feedback"></span>
               <input type="hidden" id="password" name="password" />
               <input type="password" class="form-control ldui-form-control" id="passwd" name="passwd" placeholder="请输入登录密码" />
          </div>
          <div class="has-feedback">
               <span class="glyphicon glyphicon-lock form-control-feedback ldui-form-control-feedback"></span>
               <input type="password" class="form-control ldui-form-control" id="passwd2" name="passwd2" placeholder="请输入确认密码" />
          </div>
      </div>
      </form>
    </div>

    <footer class="container">
       <button type="button" class="btn btn-primary btn-block" onclick="doSignup();">注册</button>
       <input type="hidden" id="sendYzm" value="" />
    </footer>
 <script type="text/javascript" th:inline="javascript">
 //<![CDATA[
	//CSRF Token
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	$(document).ajaxSend(function(e, xhr, options){ xhr.setRequestHeader(header, token); });

    var countdown = 60;

    $(document).ready(
       function(){
           var sendyzm_time = localStorage.getItem('sendyzm_time');
           if(sendyzm_time) {
              var nowtime = getTimestamp();
              console.log("发送时间戳为：" + sendyzm_time);
              var s = nowtime - sendyzm_time;
              console.log("当前时间戳为：" + nowtime);
              console.log("差值为：" + s);
              console.log("countdown：" + countdown);
              if(s < countdown) {
                  countdown = countdown - s;
                  $("#btnGetYzm").click();
              }
           }
       }
    );
    
    function doSignup() {
       checkSubmit();
    }
    
    function checkSubmitEnd() {
        var chkflg = checkName();
        if(chkflg) {
            var sfzcallback = function(data){
                if(data){
                    var chkflg1 = checkPassWd();
                    if(chkflg1){
                        $("#signupForm").submit();
                    }
                }
                else {
                    showErrorToast("该身份证号已被注册!");
                    $("#sfzhaoma").focus();
                }
            };
            checkSfzhaoma(sfzcallback);
        }
    }

    function checkSubmit() {
        var mnocallback = function(data){
            if(data){
                verifySmsCode(checkSubmitEnd);
            }
            else {
                showErrorToast("该手机号已被注册!");
                $("#telno").focus();
            }
        };
        checkTelno(mnocallback);
    }

    function checkTelno(mnocallback) {
        var telno = $("#telno").val();
        if(!telno){
            showErrorToast("手机号不能为空!");
            $("#telno").focus();
            return false;
        }

        if(telno.length!=11) 
        { 
            showErrorToast('请输入有效手机号！');
            $("#telno").focus();
            return false; 
        } 

        var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/; 
        if(!myreg.test(telno)) 
        { 
            showErrorToast('请输入有效手机号！');
            $("#telno").focus();
            return false; 
        }

        // 检查手机号是否已被注册
        if(mnocallback){
            postAjax("verifyTelno", {telno:telno}, mnocallback);
        }
        else {
            return true;
        }

    }

    function checkName() {
        var username = $("#username").val();
        if(!username){
            showErrorToast("姓名不能为空!");
            $("#username").focus();
            return false;
        }
        return true;
    }
    
    function checkSfzhaoma(sfzcallback) {
        var sfzhaoma = $("#sfzhaoma").val();
        if(!sfzhaoma){
            showErrorToast("身份证号不能为空!");
            $("#sfzhaoma").focus();
            return false;
        }
        var reg=/^[1-9]{1}[0-9]{14}$|^[1-9]{1}[0-9]{16}([0-9]|[xX])$/;
        if(!reg.test(sfzhaoma))
        {
            showErrorToast("身份证号无效!");
            $("#sfzhaoma").focus();
            return false;
        }

        // 检查身份证号是否已被注册
        postAjax("verifyIdentityCardNo", {sfzhaoma:sfzhaoma}, sfzcallback);
        //return true;
    }

    function checkPassWd() {
        var passwd = $("#passwd").val();
        if(!passwd){
            showErrorToast("密码不能为空!");
            $("#passwd").focus();
            return false;
        }
        var passwd2 = $("#passwd2").val();
        if(passwd != passwd2){
            showErrorToast("密码不一致!");
            $("#passwd").focus();
            return false;
        }
        $("#password").val(hex_sha1(passwd));
        return true;
    }
    
    function getYzm(that) {
        $("#yzm").focus();
        // 检验手机号码的正确性
        var mnocallback = function(data){
            if(data){
                // 手机号没有问题，发送验证码
                var telno = $("#telno").val();
                // 异步请求获取短信验证码
                sendSmsCode(telno);
                // showNoticeToast("验证码是：" + $("#sendYzm").val());
                // console.log("验证码是：" + $("#sendYzm").val());
                settime(that);
            }
            else {
                showErrorToast("该手机号已被注册，请直接登录!");
                $("#telno").focus();
            }
        };
        checkTelno(mnocallback);
    }

    function sendSmsCode(mobileNo) {
        var params = {mobileNo:mobileNo};
        $.ajax({
            type:"POST",
            url:"/g/smscode/send",
            data:params,
            async: false,
            success:function(data){
                //alert(data.msgType);
                //alert(data.message);
                if(data.msgType != 0){
                    showErrorToast(data.message);
                    $("#yzm").focus();
                }
            },
            error:function(e) {
                alert("出错："+e);
            }
        });
    }

    function verifySmsCode(chkcallback) {
        var mobileNo = $("#telno").val();
        var inputVcode = $("#yzm").val();
        if(!inputVcode) {
            showErrorToast('请输入短信验证码！');
            $("#yzm").focus();
        }
        else {
            var params = {mobileNo:mobileNo, inputVcode:inputVcode};
            $.ajax({
                type:"POST",
                url:"/g/smscode/verify",
                data:params,
                async: false,
                success:function(data){
                    //alert(data.msgType);
                    //alert(data.message);
                    if(data.msgType == 0){
                        chkcallback();
                    }
                    else {
                        showErrorToast('短信验证失败！');
                        $("#yzm").focus();
                    }
                },
                error:function(e) {
                    //alert("出错："+e);
                    showErrorToast('短信验证失败！');
                    $("#yzm").focus();
                }
            });
        }
    }

    function settime(obj) {
        if (countdown == 0) { 
            obj.removeAttribute("disabled");
            $(obj).addClass('active');
            obj.value="获取验证码"; 
            countdown = 60;
            localStorage.setItem('sendyzm_time', '');
            return;
        } else {
            if(countdown == 60 || obj.value=="获取验证码") {
                if(countdown == 60) {
                    localStorage.setItem('sendyzm_time', getTimestamp());
                }
                obj.setAttribute("disabled", true);
                $(obj).removeClass('active');
            }
            obj.value="重新发送(" + countdown + ")";
            countdown--; 
        } 
        setTimeout(function(){ settime(obj) }, 1000);
    }

    // 获取当前时间戳(以s为单位) 
    function getTimestamp() {
        var timestamp = Date.parse(new Date()) / 1000;
        //console.log("当前时间戳为：" + timestamp);
        return timestamp;
    }
  //]]>
</script>
</body>
</html>
