<!DOCTYPE html>
<html>
 <head> 
  <title>更多</title> 
  <meta charset="UTF-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen"></link>
<link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" ></link>
<link href="/css/common.css" rel="stylesheet"></link>
<script src="/js/common.js"></script>
 </head> 
 <body> 
  <div class="content"> 
  <div class="container-fluid"> 
    <div class="row"> 
     <nav class="navbar navbar-default open-hover ldui-topnavbar" role="navigation"> 
      <!-- Brand and toggle get grouped for better mobile display --> 
	  
	       <div class="col-xs-3">
				<ul class="nav navbar-nav pull-left"> 
       <li><a href="#" style="font-size:18px;color:white" onClick="goBack()"><span class="glyphicon glyphicon-chevron-left"></span> </a></li> 
      </ul> 
	  </div>
	  <div class="col-xs-6">
		          <p class="navbar-text text-center" style="font-size:18px;font-weight:bold;color:white" >更多</p>
		        </div>
     </nav> 
    </div>
	</div>
       <div class="container marketing" style="margin-top:10px"> 
    <div class="row" style="margin-top:10px"> 
     <div class="col-xs-4"> 
      <a href="#" class="btn btn-default btn-block" role="button"> <img class="img-circle" src="/images/icon/1.png" width="50" height="50" /> <h5>化验取单</h5> </a> 
     </div> 
     <div class="col-xs-4"> 
      <a href="#" class="btn btn-default btn-block" role="button"> <img class="img-circle" src="/images/icon/2.png" width="50" height="50" /> <h5>就诊记录</h5> </a> 
     </div> 
    </div> 
	</div>
  </div> 
 </body>
</html>